.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("https://ak0.picdn.net/shutterstock/videos/30577570/thumb/1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.App-link {
  color: #09d3ac;
}
